<div class="container">
    <button title="go to login" mat-fab color="primary" class="mt-4"  routerLink="/" aria-label="Example icon button with a home icon">
        <mat-icon>login</mat-icon>
      </button>

      <div class="center" *ngIf="changePassword == false">
 
        <mat-card>
            <mat-card-content>
               
                <form #forgetPasswordForm="ngForm" (ngSubmit)="onForgetPassword(forgetPasswordForm.value)" class="example-form">
                    <div class="mb-3">
                        <label for="email1" class="form-label">Enter registered Email</label>
                        <input (change)="fetchUser(email.value)" #email type="email" class="form-control"  id="email1" name="email" ngModel aria-describedby="emailHelp" required>
                      </div>

                      <div class="mb-3">
                        <label for="security1" class="form-label">Select secrect security question</label>
                               
                        <select class="form-select mb-2" ngModel name="question" aria-label="Default select example" required>
                            <option selected>In what city or town was your first job?</option>
                            <option value="What elementary school/high school did you attend?">What elementary school/high school did you attend?</option>
                            <option value="What is your favorite movie?">What is your favorite movie?</option>
                            <option value="What was your favorite sport in high school?">What was your favorite sport in high school?</option>
                            <option value="What was the first exam you failed?">What was the first exam you failed?</option>
                          </select>
    
                        <input  type="text" placeholder="Type Your Security Answer" class="form-control" id="security1" name="securityAnswer" ngModel required>
                        
                        </div>
                  
                        <button  type="submit" class="btn btn-primary">Submit</button>
            
                  </form>

            </mat-card-content>
          </mat-card>
          

      </div>


      <div class="center" *ngIf="changePassword == true">
 
        <mat-card>
            <mat-card-content>
               
                <form  class="example-form">
                    <div class="mb-3">
                        <label for="password" class="form-label">Enter New Password</label>
                        <input #password type="email" class="form-control"  id="password" name="password1" ngModel aria-describedby="new password" required>
                      </div>

                      <div class="mb-3">
                        <label for="password2" class="form-label">Confirm New Password</label>
                        <input #password2 type="email" class="form-control"  id="password2" name="password1" ngModel aria-describedby="confirm new password" required>
                      </div>

                      
                  
                        <button  (click)="onChangePassword(password.value , password2.value)" class="btn btn-primary">Change</button>
            
                  </form>

            </mat-card-content>
          </mat-card>
          

      </div>


</div>
