<h1 mat-dialog-title>Add Theatre</h1>
<mat-dialog-content>
  <p style="color:red" *ngIf="errorMessage != '' ">{{errorMessage}}</p>
  <mat-form-field>
    <mat-label>Theatre Name</mat-label>
    <input [(ngModel)]="theatre.theatreName" matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Total Seats</mat-label>
    <input [(ngModel)]="theatre.totalSeats" matInput type="number">
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button  (click)="addTheatre()" cdkFocusInitial>Add</button>
  <button mat-button (click)="onClose()">Cancel</button>
  
</mat-dialog-actions>

