
<div *ngIf="booked" class="container">
  
  <button mat-fab color="primary" class="mt-4"  routerLink="/user" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>

  <div class="center" style="padding-bottom : 50px;">

     <h1>Movie Booked Successfully.Download the ticket Now.</h1>
        <img src="../../../assets/booking-confirmed.png" alt="Movie Booked Tick">
        <br>
        
         
            <button mat-fab color="primary" title="download ticket" class="mt-4" (click)="generatePdf(modes[1])" aria-label="Example icon button with a home icon">
              <mat-icon>download</mat-icon>
            </button>
           
  
          
              <button mat-fab color="primary" title="open ticket" style="margin-left:10px;"  class="mt-4" (click)="generatePdf(modes[0])" aria-label="Example icon button with a home icon">
                <mat-icon>open_in_browser</mat-icon>
              </button>
       
  
              <button mat-fab color="primary" title="print ticket" style="margin-left:10px;" class="mt-4" (click)="generatePdf(modes[2])" aria-label="Example icon button with a home icon">
                <mat-icon>print</mat-icon>
              </button>

              <button mat-fab color="primary" title="Book Again" style="margin-left:10px;" class="mt-4" (click)="reset()" aria-label="Example icon button with a home icon">
                <mat-icon>format_color_reset</mat-icon>
              </button>
       
  </div>
</div>

<div class="container" *ngIf="!booked">

  <div class="spinner" *ngIf="loading">
    <span class="loader"></span>
  </div>

  <button mat-fab color="primary" class="mt-4"  routerLink="/user" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>

 
     <div class="row">
        
         <div class="col-md-6">
            
            <div class="card m-5" style="width: 25rem;">
                <div class="card-body">
                  <h4 class="card-title"><strong>{{movie.movieName}}</strong></h4>
                  <p class="card-text">{{movie.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong style="color : rebeccapurple;">Theatre: </strong> {{movie.theatreName}}</li>
                  <li class="list-group-item"><strong style="color : green;">Seats Available: </strong> {{movie.seatsAvailable}}</li>
                  <li class="list-group-item"><strong style="color : blue;">Genre: </strong>{{movie.genre}}</li>
                  <li class="list-group-item"><strong style="color : red;">Price per Ticket:  </strong>{{movie.ticketPrice | currency : 'INR'}}</li>
                  
                 
                </ul>
               
              </div>

         </div>


         <div class="col-md-6">
            <div class="card m-5">
                <div class="card-body">
                   <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm.value)">
                    <div class="mb-3">
                        <label for="cbookedSeats" class="form-label">How Many Seats You Want to Book ?</label>
                        <input type="number"  #booked (change)="calculateTotal(booked.value)" class="form-control" id="cbookedSeats" name="bookedSeats" ngModel required>
                          <small style="color : red;" *ngIf="error">{{errorMessage}}</small>
                      </div>
                      <button [disabled]="bookingForm.invalid || error" type="submit" class="btn btn-success">Proceed</button>
                   </form>
                </div>
              </div>
         </div>

     </div>
     

    
</div>
