.green {
    font-weight: bold;
    color : green;
}

.yellow {
    font-weight: bold;
    color : rgba(137, 149, 2, 0.854);
}


.red {
    font-weight: bold;
    color : red;
}

.spinner{
    margin-left : auto;
    margin-right: auto;
    margin-top : 100px;
}