<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container">
      <a class="navbar-brand" href="#">
         <strong><i>Movie Booking App</i></strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent ">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
            <li  *ngIf="!loggedIn" class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="/">Login</a>
            </li>
            <li *ngIf="!loggedIn" class="nav-item">
              <a class="nav-link" routerLink="/register" >Register</a>
            </li>

          </ul>
      
            <ul *ngIf="loggedIn" class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li *ngIf="role == 'ROLE_USER'" class="nav-item">
                <a routerLink="user/bookings" class="nav-link logout">Booking History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logout"  (click)="logout()" >Logout</a>
              </li>
            </ul>

      </div>
    </div>
  </nav>
